header {
    background-color: $grey;
} 


header ul li {
    display: inline-block;
    
    &.current-menu-item a,
    &.current_page_parent a {
        color: $white;
    }

    &:not(:first-child) {
        margin-left: 1.5rem;
    }


}
