// Custom variables
@import "variables";

// Bootstrap
@import "./bootstrap/bootstrap";


//Partials
@import "footer";
@import "header";
@import "search-form";
@import "slider";

// Custom styles
a {
    color: inherit;

    &:hover {
        text-decoration: none;
        color: $warning;
    }
}

.btn {
    &:hover {
        text-decoration: none;
        color: $warning;
    }
}

body {
    background-color: $light;
    font-family: 'Roboto', sans-serif;
}

.animated {

    &:hover{
        animation-name: pulse;
    }
}


