// Custom variables
@import "variables";

// Bootstrap
@import "./bootstrap/bootstrap";

//Partials
@import "footer";
@import "header";

// Custom styles
a {
    color: inherit;

    &:hover {
        text-decoration: none;
        color: $warning;
    }
}

body {
    background-color: $light;
}

.myaccount-wrapper {
    height: 200px;  
}

// .button-container {
//     width: 600px;
// }